@use 'src/styles/mixins/media-queries.scss' as mq;
@use 'src/styles/_variables.scss' as v;

.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 7rem;
  font-weight: normal;
  font-family: v.$font-family-secondary;
}